<ng-container *ngIf="!isLoading">
    <div class="container py-3">
        <div class="row">
            <div class="col-sm-12">
                <h1>Data Management</h1>
            </div>
        </div>
    </div>
    <div class="container mx-5">
        <div class="row">
            <div class="col-sm-12">
                <h2>Remote Access</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p>To access the data remotely, type in the IP address on your browser. To get your current IP, press the button below</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-lg btn-outline-dark" (click)="getIPAddress()">Get IP Address</button>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" placeholder="IP Address will Appear Here" [value]="ipValue" readonly>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h2>Download Data</h2>
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <div class="custom-control custom-switch col-sm-12 mx-3">
                <input type="checkbox" class="custom-control-input" id="chooseDataMode" [(ngModel)]="isEncrypted">
                <label class="custom-control-label" for="chooseDataMode">{{ isEncrypted ? 'Download Decrypted Data' : 'Download Raw' }}</label>
              </div>
        </div>
        <div class="alert alert-danger my-3" role="alert" *ngIf="showErrorAlert">
            <h4 class="alert-heading">Decryption Error</h4>
            <p>We've encountered an error with trying to get your data. Please check you're using the correct key</p>
        </div>
        <div class="row my-3" *ngIf="isEncrypted">
            <div class="form-group col-sm-4">
                <label for="privateKey">Upload Private Key File</label>
                <input type="file" class="form-control-file" id="privateKey" name="privateKey" accept="pem" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-lg btn-outline-primary" [disabled]="fileToUpload == undefined" (click)="startUploadKey()">Upload Key</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-lg btn-primary" type="button"  (click)="downloadData()" [disabled]="isGeneratingData || !enableDownloadButton">
                    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true" *ngIf="isGeneratingData"></span>
                    Download Decrypted Data
                </button>
            </div>
        </div>
        <div class="row my-3" *ngIf="!isEncrypted">
            <div class="col-sm-12">
                <button class="btn btn-lg btn-primary" type="button"  (click)="downloadRawData()" [disabled]="isGeneratingData">
                    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true" *ngIf="isGeneratingData"></span>
                    Download RAW Data
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h2>Upload Data</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <strong>Remote Host Name:</strong> {{ remoteHostSet ? remoteHost.hostname : 'No host set...'}}
            </div>
            <div class="col-sm-6">
                <button class="btn btn-outline-primary" (click)="showSetHost = !showSetHost">
                    {{ this.remoteHostSet ? 'Change Host' : 'Set Host' }}
                </button>
            </div>
        </div>
        <div class="row" *ngIf="showSetHost">
            <div class="col-sm-12">
                <hr>
                <div class="alert alert-danger my-3" role="alert" *ngIf="showErrorAlertHost"> 
                    <h4 class="alert-heading">Set Host Remote Error</h4>
                    <p>Could not Set Host at this time. Check your input and try again later...</p>
                </div>
                <form>
                    <div class="form-group col-sm-6">
                      <label for="hostname">Host Name</label>
                      <input type="text" class="form-control" id="hostname" aria-describedby="hostnameHelp" placeholder="Enter Host Name" #hostName>
                      <small id="hostnameHelp" class="form-text text-muted">Enter Host Name for Easier Identification</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="ip">IP Address / Domain</label>
                        <input type="text" class="form-control" id="ip" aria-describedby="ipHelp" placeholder="Enter IP / Domain" #ip>
                        <small id="ipHelp" class="form-text text-muted">Enter Host IP Address / Domain</small>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="user">Username</label>
                        <input type="text" class="form-control" id="user" aria-describedby="userHelp" placeholder="Enter mySQL Username" #user>
                        <small id="userHelp" class="form-text text-muted">Enter Username for the mySQL remote database</small>
                      </div>
                    <div class="form-group col-sm-6">
                      <label for="hostPW">Password</label>
                      <input type="password" class="form-control" id="hostPW" placeholder="Password" #password>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="setRemoteHost(hostName.value , ip.value , user.value , password.value)">Submit</button>
                  </form>
                <hr>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-12">
                <div class="alert alert-danger my-3" role="alert" *ngIf="showErrorAlertUpload">
                    <h4 class="alert-heading">Upload Error</h4>
                    <p>We can't seem to contact the database. Make sure you are connected to the internet...</p>
                </div>
                <button class="btn btn-lg btn-outline-primary" [disabled]="!remoteHostSet || isUploadingData"  (click)="uploadData()">
                    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true" *ngIf="isUploadingData"></span>
                    Upload Data to Database
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h2>Printer Setup</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-borderless" *ngIf="printerList.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Printer Name</th>
                        <th scope="col">In Use</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let printer of printerList; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{printerList[i]}}</td>
                        <td>
                          <h5 *ngIf="setPrinterButtonEnabled[i] == false">✔</h5>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary" [disabled]="!setPrinterButtonEnabled[i]" (click)="setPrinter(i)">Use this Printer</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 class="text-muted text-center my-5" *ngIf="this.printerList.length == 0">Add a Printer with the button below....</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-lg btn-outline-warning" (click)="goToLink('http://localhost:631/admin')">Add a Printer</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mx-5">
        <div class="row">
            <div class="col-sm-12">
                <h2>Key Generation</h2>
            </div>
        </div>
        <div class="alert alert-primary my-3" role="alert">
            <h4 class="alert-heading">Important Information</h4>
            <p>Before generating keys, learn more about how to properly distribute them to implement a system...</p>
            <hr>
            <p class="mb-0">Use the button below when you're ready to proceed in order to generate key pairs</p>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <button class="btn btn-lg btn-warning mb-3" type="button"  (click)="generateKeys()" [disabled]="isGeneratingKeys">
                    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true" *ngIf="isGeneratingKeys"></span>
                    Generate Keys
                  </button>
            </div>
        </div>
    </div>
</ng-container>

<div class="container" style="height: 100vh;" *ngIf="isLoading">
    <div class="row h-100 text-center">
        <div class="col-sm-12 my-auto">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
    </div>
</div>