body {
    width: 100vw;
    height: 100vh;
}

.row {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

.button-right {
    position: fixed;
    right: 0;
    bottom: 0;
}

.button-left {
    position: fixed;
    left: 0;
    bottom: 0;
}