<div class="container-fluid" *ngIf="reattemptDialogShow">
    <div class="row text-center h-100">
        <div class="col-sm-12">
            <h1>Error with scanned code. Please try again...</h1>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="dataReady">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>Verify Info</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Name:</strong>
        </div>
        <div class="col-sm-9">
            {{ this.currentUser.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Age:</strong>
        </div>
        <div class="col-sm-9">
            {{ this.currentUser.age }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Date of Birth:</strong>
        </div>
        <div class="col-sm-9">
            {{ this.currentUser.birthdate }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Sex:</strong>
        </div>
        <div class="col-sm-9">
            {{ this.currentUser.sex }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Phone Number:</strong>
        </div>
        <div class="col-sm-9">
            {{ this.currentUser.phoneNumber }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <strong>Address:</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ this.currentUser.address }}
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 100vh;" *ngIf="!dataReady">
    <div class="row h-100">
        <div class="col-sm-12 my-auto text-center">
            <div class="spinner-border mb-5" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">{{ this.printMode ? 'Printing your ID....' : 'Sending Data...' }}</span>
            </div>
            <div class="spa">{{ this.printMode ? 'Printing your ID....' : 'Sending Data...' }}</div>
        </div>
    </div>
</div>

<button class="btn btn-lg btn-success m-2 button-right" 
        (click)="this.printMode ? printData() : saveData();" 
        [disabled]="!dataReady || reattemptDialogShow">
            Correct
</button>
<button class="btn btn-lg btn-warning m-2 button-left" (click)="tryAgain()" [disabled]="disableTryAgain">Try Again</button>