<div class="container-fluid main-wrapper">
  <div class="row h-100">
    <div class="col-sm-12 my-auto text-center">
      <h1>Ready for Next Customer</h1>
      <h2>Please present your barcode</h2>
      <div class="form-group">
        <label for="code"></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" (click)="clearInput()">Clear</button>
          </div>
          <input type="text"
               class="form-control"
               name="code"
               id="code" 
               autocomplete="off"
               [disabled]="inputDisabled"
               [(ngModel)]="code"
               (keypress)="onInputChanged($event)"
               #codeField>
        </div>
        <small id="helpId" class="form-text text-muted">Make sure box is highlighted...</small>
      </div>
    </div>
  </div>
</div>